name: greyhat_cl

services:
  database:
    image: postgres:16-alpine
    container_name: greyhat_postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-greyhat_production}
      POSTGRES_USER: ${POSTGRES_USER:-alex}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_INITDB_ARGS: "--auth-host=scram-sha-256"
      PGUSER: ${POSTGRES_USER:-alex}
    volumes:
      - greyhat_postgres_data:/var/lib/postgresql/data
      - ./db/init:/docker-entrypoint-initdb.d
    networks:
      - caddy_net
      - greyhat_internal
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: greyhat_redis
    volumes:
      - greyhat_redis_data:/data
    networks:
      - greyhat_internal
    restart: unless-stopped

  web:
    build: .
    container_name: greyhat_web
    environment:
      RAILS_ENV: ${RAILS_ENV:-production}
      DATABASE_URL: postgresql://${POSTGRES_USER:-alex}:${POSTGRES_PASSWORD}@database:5432/${POSTGRES_DB:-greyhat_production}
      REDIS_URL: redis://redis:6379/0
      RAILS_SERVE_STATIC_FILES: "true"
      RAILS_MASTER_KEY: ${RAILS_MASTER_KEY}
      SECRET_KEY_BASE: ${SECRET_KEY_BASE}
      RAILS_LOG_TO_STDOUT: "true"
    depends_on:
      - database
      - redis
    volumes:
      - ./storage:/app/storage
    ports:
      - "3001:3000"
    networks:
      - caddy_net
      - greyhat_internal
    restart: unless-stopped

volumes:
  greyhat_postgres_data:
  greyhat_redis_data:

networks:
  caddy_net:
    external: true
  greyhat_internal:
    name: greyhat_cl_internal
    driver: bridge
    internal: true
