name: greyhat_cl

services:
  database:
    image: postgres:15
    container_name: greyhat_postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ./postgres:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - greyhat_network

  web:
    build: .
    container_name: greyhat_web
    environment:
      RAILS_ENV: ${RAILS_ENV}
      POSTGRES_HOST: database
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      RAILS_MASTER_KEY: ${RAILS_MASTER_KEY}
      SECRET_KEY_BASE: ${SECRET_KEY_BASE}
      RAILS_SERVE_STATIC_FILES: "true"
      RAILS_LOG_TO_STDOUT: "true"
    depends_on:
      - database
    volumes:
      - .:/app
      - ./storage:/app/storage
    ports:
      - "3000:3000"
    expose:
      - "3000"
    networks:
      - greyhat_network
      - caddy_net
    restart: unless-stopped
    command: bundle exec rails server -b 0.0.0.0
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

networks:
  greyhat_network:
    name: greyhat_network
    driver: bridge
  caddy_net:
    name: caddy_net
    external: true