name: greyhat_cl

services:
  database:
    image: postgres:16-alpine
    container_name: greyhat_postgres
    env_file:
      - .env
    volumes:
      - greyhat_postgres_data:/var/lib/postgresql/data
      - ./db/init:/docker-entrypoint-initdb.d
    networks:
      - caddy_net
      - greyhat_internal
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: greyhat_redis
    volumes:
      - greyhat_redis_data:/data
    networks:
      - greyhat_internal
    restart: unless-stopped

  web:
    build: .
    container_name: greyhat_web
    env_file:
      - .env
    depends_on:
      - database
      - redis
    volumes:
      - ./storage:/app/storage
    ports:
      - "3001:3000"
    networks:
      - caddy_net
      - greyhat_internal
    restart: unless-stopped

volumes:
  greyhat_postgres_data:
  greyhat_redis_data:

networks:
  caddy_net:
    external: true
  greyhat_internal:
    name: greyhat_cl_internal
    driver: bridge
    internal: true
