<%
@cur_html = 'active'.html_safe
%>

<div class="tabs is-centered  has-text-light has-background-dark p-2 m-0">
  <ul>
    <li class="is-active"><a href="/index">Inicio</a></li>
    <li><a href="/articulos">Articulos</a></li>
    <li><a href="/acerca">Acerca de</a></li>
	<% if user_signed_in? %>
    <li>
	<a href="/dashboard">Dashboard</a>
	</li>
	<% end %>
  </ul>
</div>