<nav id="nav">
    <ul>
        <li class="current"><a href="/index">Inicio</a></li>
        <li><a href="/acerca">Acerca</a></li>
        <li><a href="/servicios">Servicios</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/contacto">Contacto</a></li>
    </ul>
</nav>