
<h2>Acerca de</h2>

<p>
  <strong>Greyhat Security</strong> surge con la visión de proveer servicios de
  hacking ético incluyendo a su vez capacitación. La misión es proveer herramientas
  a nuestros clientes que permitan prevenir y proteger el bien más preciado para
  cualquier individuo u organización: su información.
</p>

<p>
  Nuestra amplia experiencia en capacitación a distancia y en persona,
  nos permite enfocarnos en la visión de ser una empresa "alternativa" de
  hacking para compartir la mayor cantidad de conocimiento posible con nuestros
  clientes.
</p>

<p>
  Contamos con personal certificado y gran experiencia tanto laboral como
  didáctica, lo que nos permite unificar un servicio de álto nivel en Hacking y
  Desarrollo así como capacitación y transfernecia de conocimiento.
</p>

<h2>Nosotros</h2>

<p>
  <%= image_tag "avatar.jpg", style:"width:180px;border-radius:50%;margin-right:20px", align:'left' %>

  <strong>Alex Barrios</strong> / <em>Fundador</em><br>
  <a href="http://linkedin.com/in/alexbariv/" target="_blank"><span class="icon brands fa-linkedin"></span></a>

  <br>

  Profesional con 15 años de experiencia en distspanintos campos de las tecnologías de información, con un sólido conocimiento en Desarrollo Fullstack y certificado experto en seguridad informática. Proactivo, eficiente y eficaz en la ejecución de proyectos, con extensa experiencia trabajando en grupos y entornos colaborativos.:
</p>
