
<div style="height:10px"></div>

<%=image_tag "about.jpg",style:"width:100%;border-radius:5px;" %>

<h2>Acerca de Greyhat</h2>

<p>Greyhat es un espacio donde exploramos el equilibrio entre la innovación digital y la vida cotidiana.
Creemos que la tecnología no solo moldea nuestro mundo, sino que también refleja quiénes somos
y cómo vivimos.</p>

<p>Este concepto esta aplicado a nusetras creaciones, buscando ofrecer a nuestros usuarios experiencias
digitales que sean intuitivas, atractivas y accesibles para todos.</p>

<h2 >Nuestra Misión</h2>

<p>Desarrollar aplicaciones, juegos, investigaciones y publicaciones sobre tecnología centradas en
la interacción humana y la experiencia del usuario.</p>

<p>Con nuestros artículos, ofrecer una perspectiva única en el vasto universo de la tecnología digital.
Desde análisis críticos sobre el uso excesivo de tecnología hasta consejos prácticos para manejar
el estrés en la era digital, Greyhat es tu guía para navegar en este mundo interconectado.</p>

<h2>Nuestro Enfoque</h2>

<p>Greyhat se centra en la sabiduría compartida, inspirada en la idea de que el conocimiento es
más valioso cuando se comparte. Aquí encontrarás artículos que abarcan desde el desarrollo
de software hasta reflexiones personales, todos con el objetivo de mejorar la comprensión y
el uso de la tecnología en nuestras vidas.</p>


<h2>Conoce al Autor</h2>

<p><a href="http://linkedin.com/in/alexertech/" target="_blank">
<%= image_tag "0.jpg", style:"width:140px;border-radius:5px;margin-right:20px", align:'right' %>
</a>
Detrás de Greyhat está Alex Barrios, un profesional con más de 20 años de experiencia en
distintos campos de las tecnologías de información. Con un sólido conocimiento en
Desarrollo de Software y certificado experto en Seguridad Informática.


Alex es proactivo, un apasionado de la tecnología con años de experiencia comprometido con
compartir sus conocimientos y experiencias, e intercambiar ideas y puntos de vistas
en busca de un crecimiento personal pleno en conjunto.</p>
