<div class="flex-row">
  <div class="flex-small">

    <!-- Content -->
    <article>
      <div style="height:10px"></div>

      <%=image_tag "old_main.jpg", style:"width:100%;border-radius:5px;" %>

      <header>
        <h2>Bienvenido a Greyhat</h2>
      </header>

      <div style="padding:0 20px 0 20px">
        <div>
          <p>En Greyhat, nos sumergimos en el mundo de la tecnología no solo como usuarios, sino como
          pensadores críticos y exploradores conscientes. Realizamos <strong>desarrollo de aplicaciones</strong>, 
          juegos, investigaciones y publicaciones sobre tecnología enfocado en la interacción humana y la
          experiencia del usuario.</p>
          <p>Utilizando Ruby on Rails como pilar de nuestras creaciones, logramos equilibrar el uso de recursos
          y la eficiencia en el desarrollo de aplicaciones web y móviles. Nuestro experticia en
          tecnología y diseño se dedica a crear experiencias digitales que sean intuitivas, atractivas y
          accesibles para todos.</p>

          <p><strong>Explora, Reflexiona, Conéctate.</strong></p>
        </div>
      </div>

      <header>
        <h2>Últimos artículos</h2>
      </header>

      <% Post.order("id DESC").all.take(3).each do |post| %>

        <div class="flex-row post_list">
          <div class="flex-small one-fourth image_list">
            <% if post.image.attached? %>
              <%=image_tag post.image.variant(:thumb)%>
            <% end %>
          </div>
          <div class="flex-small">
            <strong>
              <%= link_to post.title, post %>
            </strong>

            <div style="font-size:small">
              <em><%= post.created_at.strftime("%d %b. %Y") %></em>
            </div>

          </div>
          <div style="clear:both"></div>
        </div>

     <% end %>

    </article>
  </div>
</div>
