<div class="row gtr-200">
  <div class="col-8 col-12-narrower">
    <div id="content">

      <!-- Content -->

      <article>
        <header>
          <h2>El Verdadero Ethical Hacking</h2>
        </header>

        <p>En GreyHat Security tenemos una visión alternativa en "Ethical Hacking", con modernas metodologías y técnicas de pentesting para poner a prueba la seguridad de tus sistemas simulando ataques reales y usuarios malintencionados.</p>

        <span class="image featured"><%= image_tag  "pic02.jpg" %></span>

        <p>Una vez completado el proceso, se proveé al cliente con capacitación, consultoría y un informe técnico con las recomendaciones para corregir, mejorar la infraestructura y fortalecer la seguridad de su activo más importante: <strong>la información</strong>.
        </p>
        <p>Permita que nosotros echemos un vistazo con pruebas controladas y prevenir antes de que "alguien más" lo haga. </p>

      </article>

    </div>
  </div>
  <div class="col-4 col-12-narrower">
    <div id="sidebar">

      <!-- Sidebar -->

      <section>
        <h3>¿Capacitación Gratuita?</h3>
        <p>Brindamos charlas y capacitación acerca de técnicas de protección efectivas para las amenazas del día a día, aseguramiento y <a href="https://www.greyhat.cl/posts/como-mejorar-tu-seguridad-y-privacidad-en-linea-rapidamente">buenas prácticas</a> para nuestra vida digital, entre otros.</p>
        <footer>
          <%= link_to "Quiero una charla gratuita", '/contacto', class: "button" %>
        </footer>
      </section>

      <section>
        <h3>Nuestros servicios</h3>
        <ul>
          <li>Auditoría de Sistemas WhiteBox/BlackBox</li>
          <li>Pentesting y Ethical Hacking</li>
          <li>Capacitación y Asesoría</li>
          <li>Pruebas de Phishing</li>
        </ul>
        <footer>
          <%= link_to "Servicios", '/servicios', class: "button" %>

        </footer>
      </section>

    </div>

  </div>

</div>

</div>
</section>

<section class="wrapper style2">
  <div class="container">
    <header class="major">
      <h2>Hacking Ético de verdad</h2>
      <p>Somos profesionales con experiencia certificada en penetración de sistemas</p>
    </header>
  </div>
</section>

<section id="cta" class="wrapper style3">
  <div class="container">
    <header>
      <h2>¿Quieres saber más?</h2>
      <%= link_to "Contáctanos", '/contacto', class: "button" %>
    </header>
  </div>
</section>
