
<h2>Contacto</h2>

<p id="notice"><%= notice %></p>

<p>Para solicitud de charlas, capacitación y otros servicios, contáctanos en el siguiente formulario.
Podemos indicarte un <strong>número para atención telefónica</strong> previa solicitud vía e-mail. </p>


<%= render 'form', contact: @contact %>


