default: &default
  adapter:  postgresql
  encoding: unicode
  host:     <%= ENV['DATABASE_HOST'] %>
  port:     5432
  username: <%= ENV['DATABASE_USERNAME'] %>
  password: <%= ENV['DATABASE_PASSWORD'] %>

development:
  <<: *default
  database: <%= ENV['DATABASE_PREFIX'] %>_development

test:
  <<: *default
  database: <%= ENV['DATABASE_PREFIX'] %>-test

production:
  adapter: postgresql
  url: <%= ENV['DATABASE_URL'] %>
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
