default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  url: <%= ENV['DATABASE_URL'] || 'postgresql://localhost/greyhat_development' %>

test:
  <<: *default
  url: <%= ENV['DATABASE_URL'] || 'postgresql://localhost/greyhat_test' %>

production:
  <<: *default
  url: <%= ENV['DATABASE_URL'] %>
