<div class="row mb-4">
  <div class="col-xl-3 col-md-6 mb-4">
    <%
      change_text = if @visits_today > 0
        "<i class='fas fa-calendar-day'></i> #{@visits_today} hoy • #{@visits_this_week} esta semana"
      else
        "<i class='fas fa-arrow-up'></i> +#{@visits_this_week} esta semana"
      end
    %>
    <%= render 'partials/metric_card',
        icon: 'fa-eye',
        bg_color: 'primary',
        value: @total_visits,
        label: 'Visitas Totales',
        change_text: change_text.html_safe,
        change_class: 'positive' %>
  </div>

  <div class="col-xl-3 col-md-6 mb-4">
    <%= render 'partials/metric_card',
        icon: 'fa-newspaper',
        bg_color: 'success',
        value: @published_posts,
        label: 'Artículos Publicados',
        change_text: "#{@posts_this_month} este mes" %>
  </div>

  <div class="col-xl-3 col-md-6 mb-4">
    <%
      comments_change = if @pending_comment_count > 0
        "<i class='fas fa-clock'></i> #{@pending_comment_count} pendientes"
      else
        "<i class='fas fa-check'></i> Todo al día"
      end
    %>
    <%= render 'partials/metric_card',
        icon: 'fa-comments',
        bg_color: 'warning',
        value: @approved_comment_count,
        label: 'Comentarios Aprobados',
        change_text: comments_change.html_safe,
        change_class: (@pending_comment_count > 0 ? 'attention' : ''),
        link: dashboards_comments_path,
        highlight: @pending_comment_count > 0,
        badge_count: @pending_comment_count %>
  </div>

  <div class="col-xl-3 col-md-6 mb-4">
    <%
      contacts_change = if @contacts_this_month > 0
        "<i class='fas fa-arrow-up'></i> +#{@contacts_this_month} este mes"
      else
        "<i class='fas fa-inbox'></i> Sin contactos nuevos"
      end
    %>
    <%= render 'partials/metric_card',
        icon: 'fa-envelope',
        bg_color: 'info',
        value: @total_contacts,
        label: 'Contactos Totales',
        change_text: contacts_change.html_safe,
        link: contacts_path %>
  </div>
</div>
