<div class="container p-3">
<h2>Artículos</h2>


<% @posts.each do |post| %>

  <div class="columns">
    <div class="column is-one-third">

      <% if post.image.attached? %>
        <%=image_tag url_for(post.image), class: "image is-rounded" %>
      <% end %>

    </div>
    <div class="column">
      
      <strong>
        <%= link_to post.title, post %>
      </strong>

      <div style="font-size:small">
        <em><%= post.created_at.strftime("%d %b. %Y") %></em>
      </div>

    </div>
  </div>
<% end %>

</div>
