<table>
  <tbody>

    <% @posts.each do |post| %>

      <tr>
        <td>
          <strong><%= link_to post.title, post %></strong>
          <div style="font-size:small"><em><%= post.created_at.strftime("%d %b. %Y") %></em></div>
        </td>
      </tr>

      <tr>
        <td><%= post.body.at(0..200) %> ... [<%= link_to ' Leer ', post %>]</td>
      </tr>

      <tr>
        <td>&nbsp;</td>
      </tr>

    <% end %>

  </tbody>
</table>

